.title-lg {
  font: var(--title-lg);
}

.title-md {
  font: var(--title-md);
}

.title-sm {
  font: var(--title-sm);
}

.subtitle {
  font: var(--subtitle);
}

.text-sm {
  font: var(--text-sm);
}

.text-md {
  font: var(--text-md);
}

.link-md {
  font: var(--link-md);
}

.gray-100 {
  color: var(--gray-100);
}

.gray-200 {
  color: var(--gray-200);
}

.gray-300 {
  color: var(--gray-300);
}

.gray-400 {
  color: var(--gray-400);
}

.gray-500 {
  color: var(--gray-500);
}

.gray-600 {
  color: var(--gray-600);
}

.red {
  color: var(--red);
}

.purple {
  color: var(--purple);
}

.w-24 {
  width: 24px;
}

.mt-88 {
  margin-top: 88px;
}
.mt-120 {
  margin-top: 120px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-56 {
  margin-bottom: 56px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-94 {
  margin-bottom: 94px;
}

.mb-144 {
  margin-bottom: 144px;
}
